<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361165385780-bev8r35v7j5fho2qu2b1d3rrgplpf97v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361165385780-bev8r35v7j5fho2qu2b1d3rrgplpf97v</string>
	<key>API_KEY</key>
	<string>AIzaSyBd9waw6NabzE0eq9Pfaf24wm1wOy95eJg</string>
	<key>GCM_SENDER_ID</key>
	<string>361165385780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ucla.Chinese</string>
	<key>PROJECT_ID</key>
	<string>chinese-5972c</string>
	<key>STORAGE_BUCKET</key>
	<string>chinese-5972c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361165385780:ios:bacbfafbaf6d2458271a61</string>
</dict>
</plist>